/* body {
    background-color: #334CA5;
} */

#carouselExampleRide .carousel-inner {
    width: 100%;
    margin: auto;
    overflow: hidden; /* 초과하는 부분 자동으로 자르기 */
}

#carouselExampleRide img {
    width: 100%;
    /* height: 700px; */
    object-fit: cover; /* 이미지 비율 유지하면서 부모 요소에 맞추기 */
    transition: transform 0.2s ease-in-out; /* 호버 효과를 위한 전이 효과 추가 */
}

.carouselExampleRide{
    margin-bottom: 0px;
}

#carouselExampleRide img:hover {
    transform: scale(1.1); /* 마우스 호버 시 이미지를 1.1배로 확대 */
}

.body_title{
    font-size: medium;
    font-weight: bold;
    color: #504f4f;
    margin-top: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.ticket{
    margin-top: 20px;
    margin-bottom: 20px;
}

.container{
    padding-bottom: 0%;
    margin-top: 0px;
}

.reservation {
    margin-top: 7px;
    font-size: 15px;
}

.ticket{
    padding-top: 0%;
    color: black;
    font-size: medium;
}

a {
    text-decoration: none; /* 밑줄 제거 */
}

.nav {
    font-size: medium;
}

.card {
    max-height: 5cm;
}

.card h3 {
    font-size: 1.5rem; /* Adjust the font size as needed */
}

.card ul {
    font-size: 0.8rem; /* Adjust the font size as needed */
}

.card ul li {
    font-size: 0.8rem; /* Adjust the font size as needed */
}

.rounded-circle {
    margin-left: 10px;
}

.t_name{
    color: white;
    margin-left: 15px;
    font-size: small;
}

.g_date{
    color: white;
    margin-left: 15px;
    font-size: small;
}

.std{
    color: white;
    margin-left: 15px;
    font-size: small;
}

.btn_move_top {
    position: fixed;
    bottom: 20px; /* Adjust the distance from the bottom as needed */
    right: 20px; /* Adjust the distance from the right as needed */
    background-color: #ffffff; /* Background color of the button */
    border: 2px solid #333333; /* Border color and thickness */
    border-radius: 50%; /* Make it a circle */
    padding: 10px; /* Adjust the padding as needed */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.btn_move_top:hover {
    background-color: #dddddd; /* Change the background color on hover */
}

.is-active {
    transform: scale(1.1); /* Increase size when active */
}

.is-stuck {
    bottom: auto; /* Override bottom position when stuck */
    top: 20px; /* Adjust the distance from the top when stuck */
}

.is-hidden {
    display: none;
}

.moveTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
}