.memberContainer {
  max-width: 400px; /* Adjust the max-width as needed */
  margin: auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
  margin-top: 50px; /* Adjust the top margin as needed */
}

body {
  background-color: #f8f9fa; /* Adjust the background color as needed */
}