<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mybatis.mapper.CommunityMapper">

    <!--게시글 목록-->
    <select id="selectBoard" resultType="com.bst.ticket.vo.CommunityVO">
        SELECT b.bd_id         AS boardId,
               b.bd_title      AS boardTitle,
               b.bd_content    AS boardContent,
               b.bd_created_at AS boardCreatedAt,
               b.bd_hit        AS boardHit,
               m.mbr_seq       AS memberId,
               m.mbr_nm        AS memberName
        FROM board b
                 JOIN
             member m ON b.mbr_seq = m.mbr_seq;
    </select>
    <!--게시글 상세조회-->
    <select id="getCommunityBoardById" resultType="com.bst.ticket.vo.CommunityVO">
        SELECT b.bd_id         AS boardId,
               b.bd_title      AS boardTitle,
               b.bd_content    AS boardContent,
               b.bd_created_at AS boardCreatedAt,
               b.bd_hit        AS boardHit,
               m.mbr_nm        AS memberName
        FROM board b
                 JOIN
             member m ON b.mbr_seq = m.mbr_seq
        WHERE b.bd_id = #{boardId};
    </select>

    <!--Increase hit count-->
    <update id="boardHitsUpdate" parameterType="int">
        UPDATE board
        SET bd_hit = bd_hit + 1
        where bd_id = #{boardId}
    </update>

    <insert id="saveCommunityBoard" parameterType="hashMap">
        INSERT INTO board(bd_title, bd_content, bd_created_at, mbr_seq)
        VALUES (#{boardTitle}, #{boardContent}, NOW(), 0)
    </insert>


</mapper>